body {
    margin: 0;
    background-image: url("https://images.squarespace-cdn.com/content/v1/596512f58419c2321fd7e8c5/1558992087406-MX9UK5I6GDUWXSSVHT5R/ke17ZwdGBToddI8pDm48kFeKqvc-R9fxlfd8A-TpgZgUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2duawMTocI7zIGwjXH1Op0Ox1a_sDjcQPRZ2GHBG2W-jGCjLISwBs8eEdxAxTptZAUg/website_background.png?format=2500w");
    color: #cccccc;
}

.card {
    word-wrap: break-word;
    padding: 20px
}

.fab {
    color: #fff;
    font-size: 2em;
    padding: 5px
}